 <!--Introduction-->
 <section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>SUCCESS</h3>
                <h2 class="section-title">About us</h2>
                <p class="section-subtitle">Smart Technologies L.L.C (Smart Tech) is dedicated in a simultaneously rigorous manner with its products and services for the real estate, construction and 'Smart homes' industry in order to help its clients enhance and raise their potentials and ‘standards’.
                    Smart Tech is a private company founded in 2005 with headquarters in Dubai, and operations expanding to the rest of the United Arab Emirates and parts of Arabian Peninsula. Smart Tech was established with the purpose of designing and implementing state of the art technical solutions by applying the systems integration concept.
                </p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-html5 fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Mission</h4>
                    <p>To be the pioneer technology solution creator that known in quality commitment on the market.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Vision</h4>
                    <p>We strive for cost-effective technical solutions, active involvement in equipment design, Middle East market expansion, technological innovation, and ongoing staff knowledge updates.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-tablet fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Values</h4>
                    <p>We prioritize quality project execution, ethical client relationships, honest management with equal opportunities for staff, timely project execution, and increased productivity.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Safety &amp; Quality Policy</h4>
                    <p>Smart Tech ensures safety and quality in all projects by adhering to applicable codes and regulations, safeguarding the environment and health of employees, and continuously improving its quality management system through advanced technology, staff training, and annual policy reviews.</p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction-->