<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div class="section-heading">
                <h1>SOLUTIONS FOR A BETTER WORLD</h1>
                <h2>With the standards of living growing tremendously around the region and the world and technology struggling to keep pace with it, industries are obliged to acquire and possess undisputed use of technology and expertise. Technology and its products that enable expanding the potential of people, businesses and conglomerates.</h2>
            </div>
  
            <!--Call to Action-->
            <a href="about" class="button">Know More...</a>
            <!--End Call to Action-->
  
        </div>
  
    </div><!--End of Row-->
  </header>
  